@{
    ViewBag.Title = "List Ticket";
}
<h2>@ViewBag.Title Indonesia Open 2019</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">16 Juli</th>
            <th scope="col">17 Juli</th>
            <th scope="col">18 Juli</th>
            <th scope="col">19 Juli</th>
            <th scope="col">20 Juli</th>
            <th scope="col">21 Juli</th>
            <th scope="col">Tiket Terusan 6 Hari</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Black</th>
            <td>25000</td>
            <td>50000</td>
            <td>75000</td>
            <td>125000</td>
            <td>200000</td>
            <td>250000</td>
            <td>-</td>
        </tr>
        <tr>
            <th scope="row">Red</th>
            <td>50000</td>
            <td>75000</td>
            <td>125000</td>
            <td>225000</td>
            <td>400000</td>
            <td>450000</td>
            <td>1100000</td>
        </tr>
        <tr>
            <th scope="row">Red</th>
            <td>100000</td>
            <td>125000</td>
            <td>250000</td>
            <td>400000</td>
            <td>750000</td>
            <td>850000</td>
            <td>2100000</td>
        </tr>
    </tbody>
</table>
